<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.29.13" targetFramework="net45" />
  <package id="AWSSDK.GameLift" version="3.3.12.32" targetFramework="net45" />
  <package id="AWSSDK.IdentityManagement" version="3.3.8.2" targetFramework="net45" />
  <package id="AWSSDK.S3" version="3.3.31" targetFramework="net45" />
</packages>